.button {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the button horizontally */
    margin-top: 20px; /* Adjust the margin value as needed */
    background-color: rgb(235, 97, 97);
}