<div class="centered-content">
    <div class="modal-box">
        <h1 class="title">
            ADD NEW TASKS

        </h1>

        <div class="field is-grouped">
            <p class="control is-expanded">
              <input #taskTitleInput class="input is-medium" type="text" placeholder="Add a new task name">
            </p>
            <p class="control button-container">
              <button class="button is-primary has-text-white is-medium" (click)="addTask(taskTitleInput.value)">
                Add
              </button>
            </p>
        </div>

        <button routerLink="/" class="button is-medium" style="margin-top: 30px ;"> Back </button>


    </div>
</div>


