<div class="centered-content">
    <div class="white-box">
        <h1 class="title">
            EDIT TASK
        </h1>

        <div class="field is-grouped">
            <p class="control is-expanded">
              <input #TaskTitleInput class="input is-medium" type="text" placeholder="Add a new task title" [(ngModel)]="newTaskTitle">
            </p>
            <p class="control button-container">
              <button class="button is-primary has-text-white is-medium" (click)="updateTask()">
                Save
              </button>
            </p>
        </div>

        <button routerLink="/TaskLists/{{ TaskListsId }}" class="button is-medium" style="margin-top: 30px ;"> Back </button>
    </div>
</div>
